* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  font-family: "Roboto Slab", serif;
  background-image: url("https://restaurant.stepprojects.ge/images/p_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  @media (max-width: 600px) {
    padding: 0 10px;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
